body{
	 font-family: 'Merienda';font-size: 15px;
}
.nav-item{
	padding-right: 12px;
	padding-left: 12px;
}
.flag{
	max-height: 20px;
	max-width: 20px;
	margin-top: 10px;
}
.nav-link.active{
	background-color: lightgrey !important;
}

.reserve-container{
	position: relative;
}
.card-body{
	-webkit-transition: all 1s ease; /* Safari and Chrome */
  	-moz-transition: all 1s ease; /* Firefox */
  	-o-transition: all 1s ease; /* IE 9 */
  	-ms-transition: all 1s ease; /* Opera */
  	transition: all 1s ease;
}
.card-body:hover{
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

.reserve-text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-reserve{
	opacity: 0.4;
	max-height: 750px;
}

.carousel-caption{
	top: 40%;
}

.img-slider{
	min-height: 320px;
}

.navMenu{
	padding-top: 75px;
	padding-bottom: 20px;
}

.card-img-top{
	height: 200px;
}

.map{
	height: 320px;
}

@media screen and (max-width : 1920px){
  .only-mobile{
  visibility:hidden;
  }
}

@media screen and (max-width : 506px){
 
 .only-mobile{
  visibility:visible;
  }
}

.footer{
	margin-bottom: 30px;
	margin-top: 30px;
	padding-top: 20px;
}
.social-icon{
	font-size:28; 
}

footer{
	position: fixed;
	bottom: 0px;
	padding-top: 20px;
}

/* ...otros estilos CSS... */

.menu-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.menu-image {
    width: 180px;
    height: auto;
    margin-right: 20px;
}

.menu-description {
    font-size: 50px; /* Tamaño de texto aumentado */
}

.menu-item:last-child {
    margin-bottom: 0;
}
.reserva-form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.reserva-form fieldset {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.reserva-form legend {
    font-weight: bold;
}

.reserva-form .form-group {
    margin-bottom: 10px;
}

.reserva-form label {
    display: block;
    margin-bottom: 5px;
}

reserva-form input[type="text"],
reserva-form input[type="email"],
reserva-form input[type="date"],
reserva-form input[type="time"],
reserva-form input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

reserva-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reserva-form label[for="email"]::after {
    content: " (opcional)";
    font-size: 12px;
    color: #888;

    body {
        background-image: url("{% static 'img/location.jpg' %}"); /* Reemplaza 'background.jpg' con la ruta de tu imagen */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
        background-position: center; /* Centra la imagen en el fondo */
    }
}